.Home {
  background-image: url(../images/EZ_20130314_UF_Century_Tower_0010.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  color: white;
  padding-top: 50px;
}

.home-title h1 {
  color: white;
  font-size: 120px;
  padding: 10px;
}
