.References {
  background-image: url('../images/Century_Tower_L9A8874.jpg');
  background-blend-mode:soft-light;
  background-position: center;
  background-size: cover;
  background-color: #090809;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding: 10px;
  padding-top: 70px;
  color: white;
}

.ref-text-citations {
  display: flex;
  justify-content: center;
}
.ref-text-citations a {
  color: #0B6E4F;
}
.ref-text-citations a:visited {
  color: #8FD5A6;
}
.ref-text-citations > .ref-text-col {
  margin: 10px 50px 0 50px;
}

.ref-image-citations {
  overflow-y: scroll;
  margin: 10px;
  margin-top: 0;
  margin-bottom: 100px;
}
.ref-image-citations a {
  text-decoration: none;
  color: black;
  width: fit-content;
  float: left;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
}
.image-card {
  background-color: white;
  width: 150px;
  margin-bottom: 5px;
  margin-right: 10px;
  padding: 3px;
  transition: padding 0.3s;
}
.image-card::after {
  content: "";
  clear: both;
  display: table;
}
.image-card:hover {
  color: #fd6100;
  padding: 5px;
  transition: padding 0.3s;
}
.image-card img {
  width: 150px;
  height: 150px;
}

@media (max-width: 600px) {
  .ref-text-citations {
    display: block;
  }
  .ref-text-citations > .ref-text-col {
    margin: 10px;
  }
}