.Timeline {
  padding: 15px;
  margin: auto;
  width: fit-content;
}

.timeline-events {
  position: relative;
  z-index: 2;
}

.timeline-events li {
  float: left;
  text-align: center;
  list-style-type: none;
}

.timeline-active b {
  font-size: 3vw;
}

.timeline-events li b {
  font-size: 2vw;
  padding: 15px;
}

.timeline-events li b:hover {
  color: #fd6100;
  cursor: pointer;
  transition: 0.3s;
}

.timeline-active {
  color: #fd6100;
}

.timeline-active .timeline-circle {
  background-color: white;
  transition: background-color 300ms;
}

.timeline-circle {
  display: block;
  margin: auto;
  border-width: 10px;
  border-radius: 100%;
  outline: 1px solid white;
  background-color: #090809;
  width: 1.5vw;
  height: 1.5vw;
  transition: background-color 300ms;
}

.timeline-bar {
  height: 5px;
  background-image: linear-gradient(to right, rgba(253, 97, 0, 0), rgba(253, 97, 0, 1));
  clear: both;
  position: relative;
  z-index: 1;
  bottom: 1vw;
  transition: width 300ms;
}
